cmake_minimum_required(VERSION 3.12 FATAL_ERROR)
project(<= cdata.project => VERSION <= cdata.version => LANGUAGES C CXX)

set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED ON)

<% for dep in cdata.deps -%>
find_package( <= dep.pack => REQUIRED)
<% endfor %>

<% for item, value in cdata.libraries.items() %>
add_library("<= item =>-static" STATIC
<% for file in value.files %>	<= file =>
<% endfor -%>
)
add_library("<= item =>" SHARED
<% for file in value.files %>	<= file =>
<% endfor -%>
)
<% if value.target_link_libraries %>target_link_libraries("<= item =>" PRIVATE	<% for dep in value.target_link_libraries %> <= dep =><% endfor %>) <% endif %>
<% if value.target_link_libraries %>target_link_libraries("<= item =>-static" PUBLIC	<% for dep in value.target_link_libraries %> <= dep =><% endfor %>) <% endif %>
<% endfor %>

